*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Outfit', sans-serif;
}

.container{
    
    width: 70%;
    margin:0 auto;
    
}



.container h3, p{
    text-align: center;
    
}
.m-top{
    margin-top: 20px;
}
.flex-container{
    justify-content: center;
    margin: 60px auto;
    width: 70%;
    display:flex;
    flex-wrap: wrap;
    align-items: center;
}
.card{
    margin-right: 20px;
    border: 1px solid #e7e7e7;
    height:340px;
    display:flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.card img{
    width: 200px;
}

.product-description{
     margin-left:10px;    
}

.product-description p{
    text-align: start;
    font-size: 11px;
}

.product-description h6{
  font-size: 9px;
}

.product-description span{
    color:red;
    font-size: 10px;
}
.product-description del {
    color: black;
}