*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Outfit', sans-serif;
    list-style-type: none;
    text-decoration: none;
}
/*header ===========================================*/
.header{
    display:flex;
    justify-content: space-around;
    background-color:#ff6900 ;
}

.navbar li{
    display:inline-block;
    margin: 20px 5px;
    font-size: 15px;
    cursor: pointer;
    color:#fff;
}

.logo img{
   width: 120px;
   padding: 10px;
}

/*main container*/

.container{
    
    width: 70%;
    margin:30px auto;
    
}



.container h3, p{
    text-align: center;
   
}

.container h3{
    font-size: 15px;
}

.container p{
    font-size: 11px;
    font-weight: 600;
}


.flex-container{
    justify-content: center;
    margin: 20px auto;
    width: 650px;
    display:flex;
    flex-wrap: wrap;
    align-items: center;
}


.card{
    margin: 15px 7px 0 ;
    border: 1px solid #e7e7e7;
    height:340px;
    display:flex;
    flex-direction: column;
    
}
.card img{
    width: 200px;
}

.product-description{
     margin-left:10px;  
     
}

.product-description p{
    text-align: start;
    font-size: 9px;
    color:#818181;
    font-weight: 300;
    
}

.product-description h6{
    font-size: 9px;
    
}

.product-description span{
    color:red;
    font-size: 8px;
    font-weight: 600;
    margin-bottom: 20px;
   
}
.product-description del {
    color: #8b8a8a;
}
/*footer*/

.footer{
    display:flex;
    justify-content: space-around;
    height:100px;
    background-color:#1a1a1a ;
}

.color-white{
    color:white;
}

.footer-description  h4 {
   margin: 10px 5px 0 ; 
   font-size: 13px;
 
}
.navbar li a{
  color:#fff;
  font-size: 10px;
}

